* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-image: url(../img/bll.jpg);
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
}

.logo {
    height: 8cm;
    width: 100%;
}

.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: right;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: black;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: skyblue;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: lightgreen;
}

.dropdown:hover .dropdown-content {
    display: block;
}

h1 {
    text-align: center;
    color: red;
    font-size: 5PC;
}

h2 {
    margin-top: 2%;
    color: black;
    font-size: 20px;
    background-color: goldenrod;
    text-align: center;
}

.images {
    list-style: none;
    display: flex;
}

.images li {
    padding-left: 12%;
    padding-top: 5%;
}

.images li img {
    height: 185px;
}

.image {
    list-style: none;
    display: flex;
}

.image li {
    padding-left: 12%;
    padding-top: 5%;
}

.image li img {
    height: 185px;
}

.sub-branches {
    display: block;
}

.bs {
    text-align: justify;
}

@media only screen and (max-width: 600px) {
    .logo {
        height: auto;
        width: 100%;
    }
    .images {
        list-style: none;
        display: flex;
    }
    .images li {
        padding-left: 60px;
        padding-top: 50px;
    }
    .images li img {
        height: 50px;
        width: 60px;
    }
    h1 {
        text-align: center;
        color: red;
        font-size: 160%;
    }
    .image {
        list-style: none;
        display: flex;
    }
    .image li {

        padding-left: 60px;
        padding-top: 60px;
    }
    .image li img {
        height: 50px;
        width: 60px;
    }.bs {
        margin-top:50%;
        text-align: justify;
        font-size: 60%;
    }
    
}